
:root{
    --primarycolor: #1090CB;
}

/* navbar start */
.bluebtn{
    background-color: var(--primarycolor);
    border: none !important;
}



/* hero start */
.heading{
    color: var(--primarycolor);
}