
:root{
    --primarycolor: #1090CB;
}

/* navbar start */
.bluebtn{
    background-color: var(--primarycolor);
    border: none !important;
}



/* hero start */
.heading{
    color: var(--primarycolor);
}
/* hero end */


/* features start */
.ftimg{
    width: 240px;
    padding: 10px;
    background-color: white;
}


/* features end */

/* hero again start */

.imgfix{
  width: 300px;
 
}


.boxfit{
     width: 450px;
     display: flex;
     flex-direction: column;
     gap: 50px !important;
     padding: 33px;
}
.greybox{
    background-color: #F4F4F4;
     color: black;
    
}

.colorbox{
     color: black !important;
}

.bluebox{
    background-color: #1090CB;
    color: white;
    
}
.boxcolor{
    color: white !important;
}














@media screen and (max-width:991px) {
   .mftimg{
    width: 150px;
   
   }
}