
:root{
    --primarycolor: #1090CB;
}

/* navbar start */
.bluebtn{
    background-color: var(--primarycolor);
    border: none !important;
}



/* hero start */
.heading{
    color: var(--primarycolor);
}
/* hero end */


/* features start */
.ftimg{
    width: 240px;
    padding: 10px;
    background-color: white;
}


/* features end */

/* hero again start */

.imgfix{
  width: 300px;
}
















@media screen and (max-width:991px) {
   .mftimg{
    width: 150px;
   
   }
}