
:root{
    --primarycolor: #1090CB;
}

/* navbar start */
.bluebtn{
    background-color: var(--primarycolor);
    border: none !important;
}



/* hero start */
.heading{
    color: var(--primarycolor);
}
/* hero end */


/* features start */
.ftimg{
    width: 240px;
    padding: 10px;
    background-color: white;
}


/* features end */

/* hero again start */

.imgfix{
  width: 300px;
 
}


.boxfit{
     width: 450px;
     display: flex;
     flex-direction: column;
     gap: 50px !important;
     padding: 33px;
}
.greybox{
    background-color: #F4F4F4;
     color: black;
    
}

.colorbox{
     color: black !important;
}

.bluebox{
    background-color: #1090CB;
    color: white;
    
}
.boxcolor{
    color: white !important;
}




.btnset{
 
  border: none;
  background-color: white;
}
.whitebtn{
     background-color: #1090CB;
}


.ctext{
    text-align: center;
    padding: 20px;
}


.centbtn{
    background-color: #1090CB;
}

.cardblue{
    background-color: #1090CB;
    color: white;
}


.whitebg{
    background-color: #FFFFFF;
    color: #1090CB !important;
}

.greybg{
    background-color: #F4F4F4;
}

.simplebtn{
    text-align: center;
    align-items: center;
}

/* features pictures start */

.caspioimg{
    width: 167px;
    background-color: white;
}














@media screen and (max-width:991px) {
   .mftimg{
    width: 150px;
   
   }
}